<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reciclar</title>
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="static/img/logo.png" style="width: 80px; height: 80px;  margin-top: -20px;" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="papel">Papel</a>
                    <a href="organicos">Organicos</a>
                    <a href="plastico">Plastico</a>
                    <a href="vidrio">Vidrio</a>
                    <a href="/">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedorImg" style="background-image: url(static/img/cigarros/fondo.png);">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1 style="color: black;">Colillas de cigarrillos</h1>
                    
                </section>
                
            </section>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
                <div class="contenedor-Administración">
                    <div class="articulo" data-aos="zoom-in-right">
                        <i class="fas fa-recycle" style="background: gray;"></i>
                    <h3>Colillas</h3>
                    </div>
                </div>
            
                <div class="contenido-textos">
                    <h3><span>1</i></span>¿Dónde van las colillas de cigarros?</h3>
                    <p>Estas, al igual que el resto de residuos tiene su propio contenedor:</p>
                    <img src="static/img/cigarros/contenedor.png" style="height: 500px; width: 400px;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
                </div>
            </div>
        </section>
    </main>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>