<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reciclar</title>
    <link rel="shortcut icon" href="static/img/papel/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="static/img/papel/logo.png" style="width: 80px; height: 80px;  margin-top: -20px;" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="tetrabriks">Tetrabriks</a>
                    <a href="organicos">Organicos</a>
                    <a href="plastico">Plastico</a>
                    <a href="Pilas">Pilas</a>
                    <a href="/">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedorImg" style="background-image: url(static/img/papel/fondo.png);">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1>Papel y cartón</h1>
                    
                </section>
                
            </section>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
                <div class="contenedor-Administración">
                    <div class="articulo" data-aos="zoom-in-right">
                        <i class="fas fa-recycle" style="background: blue;"></i>
                    <h3>Contenedor Azul</h3>
                    </div>
                </div>
            
                <div class="contenido-textos">
                    <h3><span>1</i></span>¿Que reciduos van en el contenedor Azul?</h3>
                    <p>Para papel y cartón. Aquí pondremos revistas, periódicos, sobres, servilletas o 
                    cajas, pero no los tetrabriks. Es importante evitar que los papeles vayan manchados. Por ejemplo: de grasa o que lleven cintas adhesivas, grapas o trozos de plástico.</p>
                
                    <h3><span>2</span>Errores más comunes</h3>
                    <p>¿Y cuáles son los residuos impropios más habituales en este contenedor? Los errores más 
                    comunes son: con el Brik. Al pensar que es cartón, se piensa que este contenedor es su destino, 
                    pero no es así. El Brik va siempre al contenedor amarillo, ya que está compuesto por cartón, plástico 
                    y aluminio. Además, los desechos diarios como servilletas de cocina o papeles sucios deben ir con los 
                    desechos orgánicos, ya que muchos llevan aceite y esto imposibilita el tratamiento del material. Los pañales 
                    también deben ir con los residuos de resto.</p>
                    <h3><span>3</span>¿Qué tipo de papeles se pueden reciclar?</h3>
                    <p>En realidad, no se recicla el papel sino la celulosa, el principal material que compone el papel y que se extrae de la madera de los árboles. Sin embargo, para que esta celulosa pueda ser reciclada, debe encontrarse en unas condiciones aceptables. Esto significa que, si se trata de papel o cartón que haya sufrido ciertos tratamientos químicos, o, simplemente, se ha manchado con suciedad, el papel en cuestión queda inservible para ser reciclado. Algunos ejemplos de materiales que no pueden ser reciclados son el papel metalizado, plastificado, fotográfico, de fax, de celofán o papel carbón. Asimismo, debemos quitar las grapas, las espirales, los clips, la cinta adhesiva y todos los demás materiales que no sean de papel y cartón.</p>
                    <h3><span>4</span>¿Los tickets de la compra se depositan en el contenedor azul?</h3>
                    <p>El papel de los tickets no está formado por celulosa, sino por un tipo de papel térmico empapado en tinta cuyos componentes reaccionan con el calor y crean problemas de reciclaje. Por lo que, los tickets y los recibos no se tiran en el contenedor del papel, sino en el de los residuos no reciclables (contenedor naranja).</p>
                </div>
            </div>
        </section>
    </main>

<div style="background-color: white;">
    <section class="questions contenedor">
        <section class="textos-questions">
            <h1 style="color: black;">Asi funciona el circulo de reciclaje del papel</h1>
            <p></p>
        </section>
        <img src="static/img/papel/circulo.png" style="border-radius: 15%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
    </section>
</div>

    <section class="results">
        <div class="contenedor1 conten-results">
            <section class="numbers">
                <div class="number" data-aos="zoom-in-left">
                    <h4>365 Dìas</h4>
                    <p>Tiempo de degradación del papel y del cartón</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>55 %</h4>
                    <p>En Argentina el 55% de papel que se recicla</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>268 M</h4>
                    <p>El consumo mundial de papel excede los 268 millones de toneladas al año.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>14 Ud</h4>
                    <p> Para fabricar una tonelada de papel se cortan alrededor de 14 árboles.</p>
                </div>
            </section>
            <section class="results-text" style="margin-right: 0%; margin-top: 5%;" >
                <h4>Curiosidades</h4>
                <p>¿Sabías que 8 cajas de cereales pueden hacer un libro? ¿Y que el papel brillante (revistas) es más difícil de reciclar? En la actualidad aún se buscan formas y procedimientos de hacer el proceso más eficiente, como por ejemplo añadiendo trozos de revistas a la pasta de papel para hacerlo más brillante o haciendo cajas de cereales. Además, el papel reciclado puede ser un material de excelente calidad. Según la longitud de fibras, ¡puede reciclarse hasta siete veces! Suele utilizarse para hacer cartón y papel de embalar, pero también pueden encontrarse folios de papel reciclado.</p>
            </section>
        </div>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>